@model Domain.DTO.OrderDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
    </dl>
    <dl class="dl-horizontal" style="border:solid; border-width:1px; border-color:#cecece;padding-left:10px; ">
       @{Html.RenderAction("Details", "Client", Model.Client);}
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
